*{
    margin  : 0;
    padding : 0;
}

.a-menu{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: Poppins;
}

.down-arrow{
    width   : 10px;
    height  : 5px;
    margin-left: 5px;
}

.small-card-1{
    font-family : Poppins;
    font-size   : 12px;
    color       : #666666;
}

.poppins-text{
    font-family : Poppins;
    color       : #666666;
}

.orange-button{
    background-color: #FA7436;
    color           : white;
}

.orange-border-button{
    border-color    : #FA7436;
    color           : #FA7436;
}

.orange-borderles-button{
    color: #FA7436;
}

.volkhov-h1{
    font-family: Volkhov;
    font-weight: 700;
}

p{
    color: #666666;
}

/* Image */
.img {
    border-radius: 8px;

    /* Add a box shadow to the image */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.img:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}


/* Facebook Icon */

.fb-icon, .ig-icon, .x-icon {
    width: 20px;
    height: 20px;
}


/* Instagram & X Icon */
.ig-icon, .x-icon {
    filter: invert(80%);
}

.icon:hover {
    filter: invert(50%);
}

/* Color B-1 */

.color-b-1{
    background: #444444;
}

/* Background */

.background{
    position: absolute;
    width: 48px;
    height: 48px;
}

/* Primary O */
.primary-o{
    background: #FA7436;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}